.footer {
   background-color: #dad5d1;
   width: 100%;
}
.footer__container {
   max-width: 992px;
   margin: 0px auto;
   width: 100%;
}

.footer__contact {
   display: flex;
   /* align-items: flex-start; */
   justify-content: space-between;
   gap: 80px;
}
.footer__c {
   font-size: 9px;
   line-height: 12px;
   font-weight: 400;
   color: #1a1a1a;
}
.footer__title-text {
   margin-bottom: 20px;
}
.contact-hero {
   padding: 40px 10px 40px 10px;
}
.contact-hero__icons {
   display: flex;
   justify-content: space-between;
   opacity: 0.4;
}
.contact-hero__item-one {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.contact-hero__item-last {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

@media (max-width: 700px) {
   .footer__contact {
      flex-direction: column;
      align-items: stretch;
      gap: 20px;
      padding: 10px;
   }
}
