.header {
   background-color: #dad5d1;
   width: 100%;
   padding: 16px 10px 16px 10px;
}
.header__item {
   display: flex;
   width: 100%;
   align-items: center;
   gap: 40px;
}
.header__wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 80px;
}
.header__right {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 40px;
   /* margin: 0px 0px 0px 80px; */
}
